body {
  margin: 2rem;
}

main {
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.1rem;
  border-radius: 0.3rem;
  border: solid;
  border-color: grey;
}

.add-form__button {
  margin-left: 23%;
  padding: 0.4rem 1.2rem;
  border-radius: 0.3rem;
  border: none;
}

.puppy-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.puppy-list__title {
  width: 100%;
}

.puppy-list__puppy {
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.2rem;
  min-width: 40%;
}

.link {
  text-decoration: none;
  color: black;
}

button {
  border-radius: 0.3rem;
  border: solid;
  border-color: grey;
  margin-bottom: 0.1rem;
  padding: 0.2rem 0.3rem;
  background-color: inherit;
  cursor: pointer;
}

.puppy-data {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

img {
  width: 70%;
  border-radius: 0.2rem;
}
.editForm {
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .puppy-list__puppy {
    min-width: 22%;
  }
}